* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: digital;
    src: url(../../assets/E1234.ttf);
}

.time {
    align-items: center;
    background-color: black;
    color: green;
    font-family: digital;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 4px;
    border-radius: 50px;
    border: 3px solid white;
}

.time-header {
   text-align: right; 

}

.timer {
   text-align: right;
}

.timer button {
    font-family: chalkboy;
    font-size: 40px;
    color: rgb(255, 124, 1);
    background-color: rgba(251, 255, 0, 1);
    width: 135px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    border: 3px solid rgb(255, 124, 1); /* Add a border with a slight transparency */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.timer button:hover {
    border: 3px solid rgb(165, 80, 0); /* Darken the border on hover */
    box-shadow: none; /* Remove the shadow on hover */
}
